.card{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.active{
    background-color: #28a745;
}

.cursorPointer{
    cursor: pointer;
}

.btn-40{
    border-radius: 40px;
}

