<!doctype html>
<html lang="fr">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link
		rel="stylesheet" href="../public/css/styles.css">
		<!-- favIcon -->
		<link rel="icon" type="image/png" sizes="32x32" href="../public/medias/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../public/medias/favicon-16x16.png">

		<title>softRH | Erreur404</title>
	</head>
	<body class="bg-error">
		<div id="header" class="container-fluid">
			<div class="container">
				<div class="row pt-5 text-center">
					<div class="col-12">
						<p><img src="../public/medias/logoBlack.png" class="img-fluid" alt="softRH We are all connected" width="430" height="85"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt-5">
      <div class="container mt-5 pt-5">
        <div class="row mt-5 pt-5 justify-content-center">
          <div class="col-10">
            <p><img src="../public/medias/404-logo.png" alt="Erreur 404" width="1191" height="223" class="img-fluid"></p>
          </div>
        </div>
      </div>
    </div>

			<!-- Optional JavaScript -->
			<!-- jQuery first, then Popper.js, then Bootstrap JS -->
			<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		</body>
	</body>
</html>