body{
    height: 100vh;
}
.border-r-50{
    border-radius:50px;
}
.bg-connect{
    background-image:url('../medias/bg-connect.png');
    background-size:cover;
    height: 100vh;
}
.mb-r{
    margin-bottom: 5rem;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}
/* .text-shadow{
    text-shadow: -1px 0 white, 0 1px white, 5px 0 white, 5px -1px white;
    color: red;
} */

.bg-error{
    background-image:url('../medias/bg-error.png');
    background-size:cover;
    background-position: bottom;
}
a{
    color: white !important;
}
.nav-link:hover{
    background-color:#2b3035;
    transition: all 0.2s ease-in;
}























@media (max-width: 575.98px) { 
    .img-responsive-sm{
        width: 100px;
        height:100px ;
    }
    .z-index{
        z-index: 9999;
    }
    .left-100{
        transform:translateX(-100%);
      
    }
    .absolute-position{
        position: absolute;
    }
    .transition{
        transition:all  0.5s;
    }
    .bg-connect{
        background-image:url('../medias/bg-connect.png');
        background-size:cover;
        height: 100vh;
    }
    .bg-error{
        background-image:url('../medias/bg-error.png');
        background-size:cover;
        background-position: 0vh;
        height:100vh;
    }
   

 }
 @media (min-width: 576px) and (max-width: 767.98px) { 
    .transition{
        transition:all  0.5s;
    }
    .z-index{
        z-index: 9999;
    }
    .left-100{
        transform:translateX(-100%);
      
    }
    .absolute-position{
        position: absolute;
    }
     .mb-r{
         margin-bottom: 0;
     }
  }
@media (min-width: 768px) and (max-width: 991.98px) { 

    .mb-r{
        margin-bottom: 7rem;
    }
   }





   @media (min-width: 768px) and (max-width: 1024px) { 
    .bg-error{
        background-image:url('../medias/bg-error.png');
        background-size:cover;
        background-position: 0vh;
        height: 100vh;
    }
    .image-fluid{
        width: 250px;
        height: 50px;
    }
    }
    @media (min-width: 834px) and (max-width:1112px){
        .bg-error{
            background-image:url('../medias/bg-error.png');
            background-size:cover;
            background-position: 0vw;
            height: 100vh;
        }
    }