<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- myCSS -->
    <link rel="stylesheet" href="../public/css/styles.css">
    <!-- favIcon -->
    <link rel="icon" type="image/png" sizes="32x32" href="../public/medias/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/medias/favicon-16x16.png">

    <title>softRH</title>
  </head>
  <body class="bg-gradblue overflow-hidden">
    <!-- START HEADER -->
    <div id="header" class="bg-white">
        <div class="container-fluid">
            <div class="container pt-5 mb-5">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1><img src="../public/medias/logoBlack.png" class="img-fluid" width="430" height="85"></h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- END HEADER -->
        
        <!-- START HELLO -->
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="h5 font-weight-bold font-italic mt-5">Bonjour !</h2>
                        <h3 class="h5 pb-3">Comment vous vous sentez aujourd'hui ?</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- END HELLO -->
    </div>

    <!-- START CHOICES -->
    <div class="container-fluid bg-blue mt-4">
        <div class="container">
            <div class="pt-5 row text-center slideUp" id="myLabels">
                <form action="add" method="post" class="d-flex flex-wrap m-auto">
                    <div class="col-12 col-sm-4">
                        <input type="radio" name="humeur" id="choice-1" value="1" class="d-none">
                        <label for="choice-1" class="card d-flex align-items-center cursorPointer">
                            <p><img src="../public/medias/happy.gif" alt="visage d'une personne heureuse" width="128" height="128" class="img-fluid"></p>
                            <p class="font-size font-weight-bold">Heureux ?</p>
                        </label>
                    </div>
                    <div class="col-12 col-sm-4">
                        <input type="radio" name="humeur" id="choice-2" value="2" class="d-none">
                        <label for="choice-2" class="card d-flex align-items-center cursorPointer">
                            <p><img src="../public/medias/tired.gif" alt="visage d'une personne fatigué" width="128" height="128" class="img-fluid"></p>
                            <p class="font-size font-weight-bold">Fatigué ?</p>
                        </label>
                    </div>
                    <div class="col-12 col-sm-4">
                        <input type="radio" name="humeur" id="choice-3" value="3" class="d-none">
                        <label for="choice-3" class="card d-flex align-items-center cursorPointer">
                            <p><img src="../public/medias/stressed.gif" alt="visage d'une personne stressé" width="128" height="128" class="img-fluid"></p>
                            <p class="font-size font-weight-bold">Stressé ?</p>
                        </label>
                    </div>
                    <div class="col-12 p-5">
                        <button type="submit" class="btn btn-40 btn-success">&nbsp;Valider votre réponse&nbsp;</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="../public/js/main.js"></script>
  </body>
</html>