<h1>Fichier twig vote</h1>

 <form action="add" method="post">
  <input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other
  <input type="submit">
</form> 

<a href='../logout'>deconnection</a>