<h1>Fichier twig vote</h1>

 <form action="add" method="post">
  <input type="radio" name="humeur" value="1" checked> Heureux<br>
  <input type="radio" name="humeur" value="2"> Fatigué<br>
  <input type="radio" name="humeur" value="3"> stressé
  <input type="submit">
</form> 

<a href='../logout'>deconnection</a>